<header>
    <h1>
        <span>ProWay</span><span>Computers</span>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="#">
                    Produtos
                </a>
                <li>
                    <li>
                        <a href="#">
                    Carrinho
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                    </li>
                    <li>
                        <a href="#">
                    Contato
                </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
        </ul>
    </nav>
</header>