<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque pretium vehicula. Pellentesque nec lacus eget eros consequat aliquam. Donec laoreet ut nulla ac placerat. Curabitur eget molestie lectus.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (21) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (21) 90000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>